@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  background-color: whitesmoke;
  margin: 0;
}

#drum-machine {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display {
  border: 0.15rem solid black;
  border-radius: 0.5rem;
  background-color: grey;
  width: 500px;
  margin: auto;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-items: center;
  row-gap: 1rem;
}

.drum-pad {
  background-color: gainsboro;
  border-radius: 0.25rem;
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

#screen {
  background-color: #04f404;
  border: 1px solid black;
  border-radius: 0.2rem;
  width: 8rem;
  text-align: center;
  margin: 1rem auto 0;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
